
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: #ccc;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background:linear-gradient(110deg, #1e7480, #087c4c);
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-position: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}


.albums{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
  grid-gap:20px;
}

.album__artwork{
  width:100%;
}

.album{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  color: white;
  grid-template-columns: 150px 1fr;
  grid-gap:10px;
  align-items: center;
  font-weight:100;
}
